__pycache__
*.pyc
.DS_Store
secrets.py
*.csv
*.joblib
*.png
*.svg
*.log
*.ipynb*
*.sqlite3
*.npy
*.json
test_metrics.py
explore.py
diagnose.py
server/jobs/*
results.*
*-ensemble.json
datafile.py
uniprot_all.fasta
paper.py
psiblast.py